altair==5.2.0
chromadb==0.5.3
langchain_core==1.2.3
langchain_huggingface==1.2.0
ortools==9.13.0
pandas==2.3.3
sentence_transformers==5.1.2
streamlit==1.40.0
transformers==4.57.3






